name: on_pull_request

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled

jobs:
  allow:
    name: Authorizing, please wait for tests to run
    runs-on: ubuntu-latest
    steps:
      - if: github.event.label.name == 'allow'
        run: echo "✅ Running job with full permissions"
      - if: github.event.label.name != 'allow'
        run: |
          echo "❌ Please add the 'allow' label"
          false

      - name: Create job status
        uses: actions/github-script@v7
        with:
          # https://docs.github.com/en/rest/commits/statuses?apiVersion=2022-11-28#create-a-commit-status
          # https://octokit.github.io/rest.js/v18/#repos-create-commit-status
          script: |
            github.rest.repos.createCommitStatus({
                owner: "${{ github.repository_owner }}",
                repo: "${{ github.event.repository.name }}",
                sha: "${{ github.event.pull_request.merge_commit_sha }}",
                state: "pending",
                description: "Job is queued and will start running soon.",
                context: "Job result",
            });
